<!-- partials/footer.ejs -->
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-start text-center border-end">
                <span>&copy; 2024 EZpay. All rights reserved.</span>
            </div>
            <div class="col-md-6 text-md-end text-center">
                <span>Contact us at 
                    <a href="mailto:EZpay@gmail.com" class="text-white d-block">EZpay@gmail.com</a>
                    <span class="d-block"> Phone NO. +65 9999 9999</span>
                </span>
            </div>
        </div>
    </div>
</footer>






